
.st-88c3eb {
  max-width:fit-content;
}

.st-07ca06 {
  padding:8px 20px;
  border-radius:8px;
  font-size:13px;
  font-weight:600;
  cursor:pointer;
  transition:all 0.2s;
  border:none;
  display:flex;
  align-items:center;
  gap:6px;
}
